@import "~bootstrap/scss/bootstrap.scss";

body {
    background: url("https://cdn.pixabay.com/photo/2019/10/27/21/05/pumpkin-4582842_1280.jpg") no-repeat fixed center;
    height: 100vh;
    width: 100vw;
}

.container{
    margin:auto;
    margin-top: 5rem;
    text-align: center;
}

.title {
    font-size: 228%;
    margin-bottom: 1rem;
    color: orangered;
    font-weight: bold;
    filter: drop-shadow(2px 4px 6px black);
    font-family: 'Gowun Dodum', sans-serif;
}

.square{
    border: solid 3px rgb(255, 102, 0);
    border-radius: 0.4rem;
    background-color: rgba(255, 255, 255, 0.274);
    color:rgb(255, 102, 0);
    font-size: 6rem;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bolder;
    width: 10rem;
    height: 10rem;
}